* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.853);
}
body { 
  background-color: rgb(16, 16, 53);
}

/* Navbar styles  */
.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;}
.navbar nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 132, 255);
  overflow: hidden;
}
.navbar nav ul {
  display: flex;
  gap: 2rem;
}
.navbar nav ul li  {
list-style: none;
align-items: center;
font-size: 18px;
padding: 5% 1rem;
}
.navbar nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar nav ul li a { 
  text-decoration: none;
  color: white;
}

#home {
  background: rgb(16, 16, 53) url(bg-image.jpg) repeat fixed;
  height: 320px;
  position: relative;
}
#home h1, #home p {
  text-align: center;
  color: black;
  font-weight: bolder;
}
#home .left, .center, .right {
  top: 0;
  width: 100px;
  height: 100px;
  background-color:#02B3DD;
  border: 1px solid   #02B3DD;
  border-radius: 50%;
  outline: 4px solid white;
  margin: 0.5rem;
}
.left {
  position: absolute;
  left: 0;
  top: 0;
}
.center {
  position: absolute;
  margin-left: 50%;
  margin-bottom: 0;
}
.right {
  position: absolute;
  right: 0;
}
#home .left p, .center p, .right p{
  margin-top: 40px;
  display: inline-block;
  color: white;
  padding-left: 8px;
}
#home .display {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin:0;
}